<div class="component-content">

  <h2 class="component-title">ngIF</h2>
  <ul>
    <li *ngIf=" a < b">a: {{a}}</li>
    <li *ngIf="str == 'yes'">str: {{str}}</li>
    <li *ngIf="myFunc()">myFunc: {{myFunc()}}</li>
  </ul>

  <div class="container">
    <ul>
      <li *ngIf="myVar == 'A'">myVar == 'A': {{myVar}}</li>
      <li *ngIf="myVar == 'B' ">myVar == 'B' {{myVar}}</li>
      <li *ngIf="myVar != 'A' && myVar != 'B' ">myVar is something else: {{myVar}}</li>
    </ul>
  </div>

</div>