<div class="component-content">
  <h1 class="ui horizontal divider header component-title">ngClass</h1>
  <div class="ui raised segment">


  <div class="ui raised segment">
    <div [ngClass]="{bordered: false}">this is never bordered</div>
    <div [ngClass]="{bordered: true}">this is ALWAYS bordered</div>
  </div>


  <div class="ui raised segment">
    <div [ngClass]="{bordered: isBordered}">
      Using object literal. Border {{isBordered ? "ON": "OFF"}}
    </div>

    <div [ngClass]="classesObj">
      Using object var . Border {{classesObj.bordered ? "ON": "OFF"}}
    </div>

  </div>

  <button class="ui primary button" (click)="toggleBorder()">Toggle Class</button> 

  <div class="ui raised segment">
    <div calss="base" [ngClass]="['blue', 'round']">this will always have a blue background and round corners</div>
  </div>

  <h4 class="ui horizontal divider header">[ngClass]="array_classes"</h4>

  <div class="ui raised segment">
    <div class="base" [ngClass]="classList">
      This is {{classList.indexOf('blue') > -1 ? "" : "NOT" }} Blue
      and {{classList.indexOf('round') > -1 ? "" : "NOT"}} round
    </div>
  </div>
</div>