<div class="component-content">
  <h1 class="ui horizontal divider header">ngFor</h1>

  <h4 class="ui horizontal divider">list of cities</h4>
  <div class="ui segment">
    <div class="ui list" *ngFor="let c of cities">
      <div class="item">{{c}}</div>
    </div>
  </div>

  <h4 class="ui horizontal divider">list of objects</h4>
  <table class="ui called table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
      </tr>
    </thead>

    <tr *ngFor="let p of people">
      <td>{{p.name}}</td>
      <td>{{p.age}}</td>
      <td>{{p.city}}</td>
    </tr>
  </table>

  <h4 class="ui horizontal divider">list of neasted arrays</h4>

  <div *ngFor="let item of peopleByCity">
      <h5 class="ui header">{{item.city}}</h5>
      <table class="ui called table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
          </tr>
        </thead>
        <tr *ngFor="let p of item.people">
          <td>{{p.name}}</td>
          <td>{{p.age}}</td>
        </tr>
      </table>
  </div>

  <div class="ui called list" *ngFor="let c of cities; let num = index">
    <div class="item">{{num + 1}} - {{c}}</div>
  </div>


  <div class="ui segment">
    <span class="bordered" ngNonBindable> this is {{ ngNonBindable}} directive</span>
  </div>


</div>