/* You can add global styles to this file, and also import other style files */

@import "./assets/vendor/semantic.min.css";
.bordered {
  border: 1px dashed rgb(0, 0, 0);
  background-color: #eee;
}

.component-container {
    padding: 20px;
    margin: 20px;
    border: #ccc 2px solid;
    background-color :#abcdef;
    display: grid;

}
.component-content{
    width: 100%;
}
.component-title{
    margin-bottom: 30px !important;
}

.base {
  padding: 10px;
  border: 1px solid #ccc;
}

.blue {
  color: white;
  background-color: #ababab;
}

.round {
  border-radius: 20px;
}
