<div class="component-content">
  <h2 class="ui horizontal divider header component-title">ngStyle</h2>

  <div class="ui raised segment">
    <div class="ui raised segment" [style.background-color]="'#E75E40'">using [style.(cssproperty)]=(value)</div>
  </div>

  <div class="ui raised segment">
    <div class="ui raised segment"[ngStyle]="{color: 'white', 'background-color': '#4D394B'}">using [ngStyle]="color: 'white'" attribute</div>
  </div>

  <h4 class="ui horizontal divider header">ngStyle - dynamic values</h4>

  <div class="ui raised segment">
      <div class="ui input">
        <input type="color" name="color" value="{{color}}" #colorinput>
      </div>

      <div class="ui input">
        <input type="number" default="12" name="fontSize" value="{{fontSize}}" #fontinput>
      </div>

      <button class="ui primary button" (click)="apply(colorinput.value, fontinput.value)">Apply</button>

      <div>
        <span [ngStyle]="{color: 'red'}" [style.font-size.px]="fontSize">using fontSize var to change this</span>
      </div>

      <div>
        <span [ngStyle]="{color: color}">{{color}} text</span>
      </div>
    
      <h4 class="ui horizontal divider header">style from variable</h4>
      <div [style.background-color]="color">{{color}} background
      </div>

  </div>
</div>
